@page "/deleteClass/{ClassID:int}"
@using BlazorCrud.Shared.Models
@inject HttpClient Http
@inject NavigationManager urlNavigationManager

<h2>Delete Class</h2>
<h3>Are you sure you want to delete Class with id : @ClassID</h3>
<br />

<div class="col-md-4">
    <table class="table">
        <tr>
            <td>Class Student</td>
            <td>@Class.ClassStudent</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>@Class.ClassDate.ToString("MMM dd yyyy")</td>
        </tr>
        <tr>
            <td>Start Time</td>
            <td >@Class.ClassStartTime.ToString("HH:mm")</td>
        </tr>
        <tr>
            <td>End Time</td>
            <td>@Class.ClassEndTime.ToString("HH:mm")</td>
        </tr>
    </table>
    <div class="form-group">
        <button class="btn btn-danger" @onclick="(async () => await Delete())">Delete</button>
        <button class="btn btn-light" @onclick="Cancel">Cancel</button>
    </div>
</div>

@code {
    [Parameter]
    public int ClassID { get; set; }

    Class Class = new Class();

    protected override async Task OnInitializedAsync()
    {
        Class = await Http.GetJsonAsync<Class>("/api/Class/Details/" + ClassID);
    }

    protected async Task Delete()
    {
        await Http.DeleteAsync("api/Class/Delete/" + Convert.ToInt32(ClassID));
        urlNavigationManager.NavigateTo("/fetchClass");
    }

    void Cancel()
    {
        urlNavigationManager.NavigateTo("/fetchClass");
    }


}
